<headerComponent></headerComponent>
<!--Begin content main-->
<section id="content" class="blog single_post">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="wrap">

                    <div class="content_main row-fluid span12">

                        <div class="content_center alignleft " *ngFor="let product of listDetailProduct">

                            <div class="content_post first">
                                <h2 class="sub_title">{{product.productName}}</h2>
                                <img src="http://sv1.upsieutoc.com/2017/05/11/forever_love.jpg">

                                <div class="short-description">
                                    <div class="std" itemprop="description" [innerHTML]="product.productDescription">
                                    </div>
                                </div>
                                <div class="text_post">
                                    <p>C&ograve;n h&agrave;nh động n&agrave;o ngọt ng&agrave;o hơn một lời ch&uacute;c dễ thương
                                        c&ugrave;ng giỏ hoa&nbsp;<a href="http://muahoaonline.com/hcm/hcm_vn/dau-yeu-trao-nhau.html"
                                            title="DẤU YÊU TRAO NHAU">DẤU Y&Ecirc;U TRAO NHAU</a>&nbsp;rực rỡ được kết hợp từ
                                        hoa hồng đỏ nồng n&agrave;n xen lẫn sắc xanh của&nbsp;<a href="http://muahoaonline.com/blog/category/cac-loai-hoa/calimero/"
                                            title="Calimero">Calimero</a>? Hạnh ph&uacute;c đ&acirc;u kh&oacute; t&igrave;m.
                                        Đ&oacute; l&agrave; khi bạn gửi đến người m&igrave;nh y&ecirc;u m&oacute;n qu&agrave;
                                        từ tr&aacute;i tim như thế n&agrave;y để người ấy mỉm cười cảm động th&ocirc;i đấy.</p>

                                    <p>Một số lưu &yacute; để&nbsp;<a href="http://muahoaonline.com/blog/category/cac-loai-hoa/cach-cham-soc-hoa/"
                                            title="giữ hoa tươi lâu">giữ hoa tươi l&acirc;u</a>&nbsp;hơn:</p>

                                    <p>- Lu&ocirc;n giữ ẩm cho miếng xốp (c&oacute; thể tưới nước 1 lần/ng&agrave;y).</p>

                                    <p>- Khi tưới nước, chỉ n&ecirc;n rưới theo chiều d&agrave;i của th&acirc;n để nước chảy
                                        xuống, kh&ocirc;ng vương ra ngo&agrave;i.</p>

                                    <p>- Kh&ocirc;ng tưới/phun nước v&agrave;o nụ hay c&aacute;nh hoa v&igrave; như thế sẽ tạo
                                        điều kiện cho nấm ph&aacute;t triển.</p>

                                    <p>- Kh&ocirc;ng đặt hoa gần &aacute;nh nắng mặt trời, nơi ph&aacute;t ra nguồn nhiệt hay
                                        c&aacute;c loại quả ch&iacute;n.</p>

                                    <p>Mua hoa Online tại:&nbsp;<a href="http://muahoaonline.com/" title="www.muahoaonline.com">www.muahoaonline.com</a>&nbsp;Hoặc
                                        qua Hotline: (08) 38 333 000</p>

                                </div>
                            </div>

                        </div>
                        <div class="content_left_bar alignright ">
                            <section class="section_box ">

                                <h2 class="sub_title ">Product other</h2><br>

                                <div class="tab-content ">
                                    <div class="tab-pane active " id="popular ">
                                        <ul>
                                            <li class="console" style="cursor: pointer" *ngFor="let random of listRandomProduct" [routerLink]="['.../view', random.id]">
                                                <div class="content_img "><img src="{{random.productPictureUrl}}"/></div>
                                                <p><a class="video-link ">{{random.productName}}</a></p>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </section>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End begin content main-->
<footerComponent></footerComponent>