<headerComponent></headerComponent>
<!--Begin content main-->
<section id="content" class="single_item">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="wrap">


                    <div class="content_main row-fluid span12">

                        <h2 class="sub_title"> Product 1</h2>

                        <div id="myCarousel" class="main_carousel carousel slide">

                            <!-- Carousel items -->
                            <div class="carousel-inner content_body">
                                <div class="active item">
                                    <div id="myCarousel12" class="carousel slide alignleft">

                                        <!-- Carousel items -->
                                        <div class="carousel-inner">
                                            <div class="active item"><img src="../../app/assets/img/single-portfolio-slider/1.jpg"></div>
                                        </div>

                                    </div>
                                    <div class="details_item alignleft">
                                        <strong>Product details</strong>
                                        <ul class="details">
                                            <li><i class="icon-right-thin"></i>Unit</li>
                                            <li><i class="icon-right-thin"></i>Price: Contact</li>
                                            <li><i class="icon-right-thin"></i>Quantity in stock</li>
                                            <li><i class="icon-right-thin"></i>Category</li>
                                        </ul>
                                    </div>
                                    <div class="alignleft overview">
                                        <strong>Overview</strong><br>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut diam urna, non aliquam dui. Integer et augue non
                                            lectus eleifend fermentum. Phasellus egestas tempus urna, non facilisis dolor
                                            cursus in. Cras fermentum justo nec enim lobortis nec laoreet tortor scelerisque.
                                            Phasellus egestas tempus urna, non facilisis dolor cursus in.
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div id="myCarousel13" class="carousel slide alignleft">
                                        <ol class="carousel-indicators">
                                            <li data-target="#myCarousel13" data-slide-to="0" class="active"></li>
                                            <li data-target="#myCarousel13" data-slide-to="1"></li>
                                            <li data-target="#myCarousel13" data-slide-to="2"></li>
                                        </ol>
                                        <!-- Carousel items -->
                                        <div class="carousel-inner">
                                            <div class="active item">…</div>
                                            <div class="item">…</div>
                                            <div class="item">…</div>
                                        </div>
                                        <!-- Carousel nav -->
                                    </div>
                                    <div class="details_item alignleft">
                                        <strong>Project Details</strong>
                                        <ul class="details">
                                            <li><a href="#"><i class="icon-right-thin"></i>Social Networking</a></li>
                                            <li><a href="#"><i class="icon-right-thin"></i>Internet Marketing</a></li>
                                            <li><a href="#"><i class="icon-right-thin"></i>Facebook</a></li>
                                            <li><a href="#"><i class="icon-right-thin"></i>Twitter</a></li>
                                            <li><a href="#"><i class="icon-right-thin"></i>LinkedIn</a></li>
                                            <li><a href="#"><i class="icon-right-thin"></i>SoundCloud</a></li>
                                            <li><a href="#"><i class="icon-right-thin"></i>SEO</a></li>
                                        </ul>
                                    </div>
                                    <div class="alignleft overview">
                                        <strong>Overview</strong><br>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut diam urna, non aliquam dui. Integer et augue non
                                            lectus eleifend fermentum. Phasellus egestas tempus urna, non facilisis dolor
                                            cursus in. Cras fermentum justo nec enim lobortis nec laoreet tortor scelerisque.
                                            Phasellus egestas tempus urna, non facilisis dolor cursus in.
                                        </p>
                                    </div>
  
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
</section>
<!--End begin content main-->
<footerComponent></footerComponent>