<headerComponent></headerComponent>
<!--Begin content main-->
<section id="content" class="blog single_post">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="wrap">

                    <div class="content_main row-fluid span12">

                        <div class="content_center alignleft ">

                            <div class="content_post first">
                                <h2 class="sub_title">LET ME LOVE YOU</h2>
                                <div class="pmm_productBox">
                                    <div class="product_details">
                                        <h4 style="color:black">Name: Let Me Love You</h4>
                                        <h4 style="color:black">Price: contact</h4>
                                        <h4 style="color:black">Quatity: valid</h4>
                                    </div>

                                    <button class="pmm_button">CONTACT</button>

                                    <img src="../../app/assets/img/pmm/5.jpg" alt="//">
                                </div>

                                <div class="text_post">
                                    <p><span style="color:#000000">Nothing beats a big bunch of tulips fresh from the fields. These 30 tulips deliver an undeniably bright burst of color into any setting, whether it&#39;s a window sill, a country table, or your special someone&#39;s arms. A great gift for a 30th birthday!</span></p>
                                    <ul>
                                        <li><span style="color:#000000">&diams;	&#32;	30 assorted color tulips</span></li>
                                        <li><span style="color:#000000">&diams;	&#32;	Stands approximately 16&quot; tall</span></li>
                                        <li><span style="color:#000000">&diams;	&#32;	Ships in custom ProFlowers packaging and gift box.&nbsp;</span>
                                            <u><a href="http://www.proflowers.com/customerservice#FaqWrapper" target="_blank"><span style="color:#000000">Details</span></a></u>
                                        </li>
                                        <li><span style="color:#000000">Item #3669</span></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="content_left_bar alignright ">
                            <section class="section_box ">

                                <h2 class="sub_title ">Product other</h2><br>

                                <div class="tab-content ">
                                    <div class="tab-pane active " id="popular ">
                                        <ul>
                                            <li class="console first ">
                                                <div class="content_img "><img src="../../app/assets/img/flmeaning/meaning1.jpg
                                    " alt="// " /></div>
                                                <p><a class="video-link " href="# ">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console ">
                                                <div class="content_img "><img src="../../app/assets/img/flmeaning/meaning2.jpg
                                    " alt="// " /></div>
                                                <p><a class="video-link " href="# ">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console ">
                                                <div class="content_img "><img src="../../app/assets/img/flmeaning/meaning2.jpg
                                    " alt="// " /></div>
                                                <p><a class="video-link " href="# ">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console last ">
                                                <div class="content_img "><img src="../../app/assets/img/flmeaning/meaning2.jpg
                                    " alt="// " /></div>
                                                <p><a class="video-link " href="# ">Video used as media for blog article</a></p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane " id="recent ">
                                        <ul>
                                            <li class="console first ">
                                                <div class="content_img "><img src="../../app/assets/img/flmeaning/meaning2.jpg
                                    " alt="// " /></div>
                                                <p><a class="video-link " href="# ">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console ">
                                                <div class="content_img "><img src="../../app/assets/img/blog/thumbnail-2.jpg
                                    " alt="// " /></div>
                                                <p><a class="video-link " href="# ">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console ">
                                                <div class="content_img "><img src="../../app/assets/img/blog/thumbnail-3.jpg
                                    " alt="// " /></div>
                                                <p><a class="video-link " href="# ">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console last ">
                                                <div class="content_img "><img src="../../app/assets/img/blog/thumbnail-4.jpg
                                    " alt="// " /></div>
                                                <p><a class="video-link " href="# ">Video used as media for blog article</a></p>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </section>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End begin content main-->
<footerComponent></footerComponent>