<div id="main_container" class="clearfix">
    <!--Begin content main-->
    <section class="home home_two" id="content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="wrap">

                        <div class="left_content left_content_active">
                            <ul class="info row-fluid field1 info_active">
                                <li class="box span2 offset0 color_one resume" [routerLink]="['']" style="cursor:pointer">
                                    <a>
                                        <span class="sprite sprite-twitter-png"></span>
                                    </a>
                                </li>

                                <li class="box span1 color_tree profile offset0" [routerLink]="['/introduce']" style="cursor:pointer">
                                    <a  class="link_profile">
                                        <span class="sprite sprite-profile-png"></span>
                                        <p class="metro_text">Introduce</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="info row-fluid field2 info_active">
                                <li class="box span1 offset0 color_two experience " (click)="goFB()"style="cursor:pointer">
                                    <a >
                                        <span class="sprite sprite-facebook-png"></span>
                                        <p class="metro_text">Fanpage</p>
                                    </a>

                                </li>
                                <li class="box span1 color_four education offset0" [routerLink]="['/partner']" style="cursor:pointer">
                                    <a >
                                    <span class="sprite sprite-education-png"></span>
                                    <p class="metro_text">partner</p>
                                </a>

                                </li>
                                <li class="box span1 color_one blog offset0" [routerLink]="['/blog']" style="cursor:pointer">
                                    <a >
                                    <span class="sprite sprite-blog-png"></span>
                                    <p class="metro_text">blog</p>
                                </a>

                                </li>

                            </ul>
                            <ul class="info row-fluid field3 info_active">
                                <li class="box span1 offset0 color_seven social" [routerLink]="['/flmeaning']" style="cursor:pointer">
                                    <a >
                                        <span class="sprite sprite-loader2-png"></span>
                                        <p class="metro_text">Flower Meaning</p>
                                    </a>

                                </li>

                                <li class="box span1 color_six contact offset0" [routerLink]="['/contact']" style="cursor:pointer">
                                    <a >
                                        <span class="sprite sprite-contact-png"></span>
                                        <p class="metro_text">contact</p>
                                    </a>

                                </li>
                                <li class="box span1 color_five portfolio offset0" [routerLink]="['/product']" style="cursor:pointer">
                                    <a >
                                    <span class="sprite sprite-portfolio-png"></span>
                                    <p class="metro_text">Product</p>
                                </a>

                                </li>
                                <li class="social_box social_hide box span1 offset0 color_six facebook">
                                    <a href="#">
                                        <span class="sprite sprite-facebook-png"></span>
                                        <p class="metro_text">facebook</p>
                                    </a>

                                </li>
                                <li class="social_box social_hide box span1 offset0 color_seven dribble">
                                    <a href="#">
                                        <span class="sprite sprite-dribbing-png"></span>
                                        <p class="metro_text">dribble</p>
                                    </a>

                                </li>
                                <li class="social_box social_hide box span1 offset0 color_eight twitter">
                                    <a href="#">
                                        <span class="sprite sprite-twitter-png"></span>
                                        <p class="metro_text">twitter</p>
                                    </a>

                                </li>
                                <li class="social_box social_hide box span1 offset0 color_nine pinterest">
                                    <a href="#">
                                        <span class="sprite sprite-pinterest-png"></span>
                                        <p class="metro_text">pinterest</p>
                                    </a>

                                </li>
                            </ul>
                        </div>


                        <!------------content slider------------->
                        <div class="right_content">
                            <!------------------end carousel bootstrap----------------->
                            <div class="carousel slide" id="myCarousel">
                                <ol class="carousel-indicators">
                                    <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
                                    <li data-slide-to="1" data-target="#myCarousel"></li>
                                    <li data-slide-to="2" data-target="#myCarousel"></li>
                                </ol>
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item"><img alt="slider image" src="../app/assets/img/home-slider/1.jpg"></div>
                                    <div class="item"><img alt="slider image" src="../app/assets/img/home-slider/2.jpg"></div>
                                    <div class="item"><img alt="slider image" src="../app/assets/img/home-slider/3.jpg"></div>
                                </div>
                                <!-- Carousel nav -->
                                <a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>
                                <a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
                            </div>
                            <!------------------end carousel bootstrap----------------->
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End begin content main-->
</div>