<!--Begin footer-->
<footer>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="wrap">
                    <div class="content_footer span12">
                        <hr>
                        <div class="span2">
                            2015 BOM SHOP. All rights reserved
                        </div>
                        <div class="span3 offset0">
                            <ul class="social-circled">
                                <li class="color_ten social">
                                    <a class="icon-gplus-circled" href="#googleplus"></a>
                                </li>
                                <li class=" color_ten social ">
                                    <a class="icon-pinterest-circled" href="#googleplus"></a>
                                </li>
                                <li class="color_ten social ">
                                    <a class="icon-twitter-circled" href="#googleplus"></a>
                                </li>
                                <li class="color_ten social ">
                                    <a class="icon-linkedin-circled " href="#googleplus"></a>
                                </li>
                                <li class="color_ten social ">
                                    <a class="icon-facebook-circled" href="#googleplus"></a>
                                </li>
                                <li class="color_ten social ">
                                    <a class="icon-skype-circled" href="#googleplus"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</footer>