<headerComponent></headerComponent>
<!--Begin content main-->
<section id="content" class="blog">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="wrap">


                    <div class="content_main row-fluid span12">

                        <div class="content_center alignleft ">

                            <div class="content_post first">
                                <h2 class="sub_title"> <a href="single_post.html">Using image as a media blog content</a> </h2>
                                <img class="span1" src="../../app/assets/img/blog/1.jpg" alt="//" />

                                <p>Arna, non aliquam dui. Integer et augue non lectus eleifend fermentum. Phasellus egestas
                                    tempus urna, non facilisis dolor cursus in. Cras fermentum justo nec enim lobortis nec
                                    laoreet tortor scelerisque. Phasellus egestas tempus urna, non facilisis dolor cursus
                                </p>
                                <a class="btn-sample" href="single_post.html">&rsaquo; Read More</a>
                                
                            </div>
                            <div class="content_post">
                                <h2 class="sub_title"> <a href="single_post.html">Using image as a media blog content</a> </h2>
                                <img class="span1" src="../../app/assets/img/blog/2.jpg" alt="//" />

                                <p>Arna, non aliquam dui. Integer et augue non lectus eleifend fermentum. Phasellus egestas
                                    tempus urna, non facilisis dolor cursus in. Cras fermentum justo nec enim lobortis nec
                                    laoreet tortor scelerisque. Phasellus egestas tempus urna, non facilisis dolor cursus
                                </p>
                                <a class="btn-sample" href="single_post.html">&rsaquo; Read More</a>
                               
                            </div>
                            <div class="content_post">
                                <h2 class="sub_title"> <a href="single_post.html">Using image as a media blog content</a> </h2>
                                <img class="span1" src="../../app/assets/img/blog/3.jpg" alt="//" />

                                <p>Arna, non aliquam dui. Integer et augue non lectus eleifend fermentum. Phasellus egestas
                                    tempus urna, non facilisis dolor cursus in. Cras fermentum justo nec enim lobortis nec
                                    laoreet tortor scelerisque. Phasellus egestas tempus urna, non facilisis dolor cursus
                                </p>
                                <a class="btn-sample" href="single_post.html">&rsaquo; Read More</a>
                                
                            </div>
                            <div class="content_post">
                                <h2 class="sub_title"> <a href="single_post.html">Using image as a media blog content</a> </h2>
                                <img class="span1" src="../../app/assets/img/blog/4.jpg" alt="//" />

                                <p>Arna, non aliquam dui. Integer et augue non lectus eleifend fermentum. Phasellus egestas
                                    tempus urna, non facilisis dolor cursus in. Cras fermentum justo nec enim lobortis nec
                                    laoreet tortor scelerisque. Phasellus egestas tempus urna, non facilisis dolor cursus
                                </p>
                                <a class="btn-sample" href="single_post.html">&rsaquo; Read More</a>
                                
                            </div>
                            <div class="content_post">
                                <h2 class="sub_title"> <a href="single_post.html">Using image as a media blog content</a> </h2>
                                <img class="span1" src="../../app/assets/img/blog/5.jpg" alt="//" />

                                <p>Arna, non aliquam dui. Integer et augue non lectus eleifend fermentum. Phasellus egestas
                                    tempus urna, non facilisis dolor cursus in. Cras fermentum justo nec enim lobortis nec
                                    laoreet tortor scelerisque. Phasellus egestas tempus urna, non facilisis dolor cursus
                                </p>
                                <a class="btn-sample" href="single_post.html">&rsaquo; Read More</a>
                                
                            </div>

                        </div>
                        <div class="content_left_bar alignright ">
                            <section class="section_box">

                                <h2 class="sub_title"> Blog Post</h2>
                                <br>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="popular">
                                        <ul>
                                            <li class="console first">
                                                <div class="content_img"><img src="../../app/assets/img/blog/thumbnail-1.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console">
                                                <div class="content_img"><img src="../../app/assets/img/blog/thumbnail-2.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console">
                                                <div class="content_img"><img src="../../app/assets/img/blog/thumbnail-3.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console last">
                                                <div class="content_img"><img src="../../app/assets/img/blog/thumbnail-4.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="recent">
                                        <ul>
                                            <li class="console first">
                                                <div class="content_img"><img src="../../app/assets/img/blog/thumbnail-1.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console">
                                                <div class="content_img"><img src="../../app/assets/img/blog/thumbnail-2.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console">
                                                <div class="content_img"><img src="../../app/assets/img/blog/thumbnail-3.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console last">
                                                <div class="content_img"><img src="../../app/assets/img/blog/thumbnail-4.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="comments">
                                        <ul>
                                            <li class="console first">
                                                <div class="content_img"><img src="../../app/assets/img/blog/thumbnail-1.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                                <h6><i class="icon-calendar"></i>Abril 24, 2015</h6>
                                            </li>
                                            <li class="console">
                                                <div class="content_img"><img src="../../app/assets/img/blog/thumbnail-3.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                                <h6><i class="icon-calendar"></i>Abril 24, 2015</h6>
                                            </li>
                                            <li class="console">
                                                <div class="content_img"><img src="../../app/assets/img/blog/thumbnail-2.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                                <h6><i class="icon-calendar"></i>Abril 24, 2015</h6>
                                            </li>
                                            <li class="console last">
                                                <div class="content_img"><img src="../../app/assets/img/blog/thumbnail-4.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                                <h6><i class="icon-calendar"></i>Abril 24, 2015</h6>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </section>
                            
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End begin content main-->
<footerComponent></footerComponent>