<headerComponent></headerComponent>
<!--Begin content main-->
<section id="content" class="blog">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="wrap">


                    <div class="content_main row-fluid span12">

                        <div class="content_center alignleft ">
                            <div class="content_post" *ngFor="let blog of listBlog">
                                <h2 class="sub_title"> <a [routerLink]="['view', blog.id]">{{blog.title}}</a> </h2>
                                <img class="span1" src="http://sv1.upsieutoc.com/2017/05/11/forever_love.jpg" alt="//" />

                                <p> Cùng xem hướng dẫn cắm hoa xen quả thật đẹp mà đơn giản, cùng thực hiện nhé Chuẩn bị: – Hoa
                                    cúc… Cùng xem hướng dẫn cắm hoa xen quả thật đẹp mà đơn giản, cùng thực hiện nhé Chuẩn
                                    bị: – Hoa cúc… Cùng xem hướng dẫn cắm hoa xen quả thật đẹp mà đơn giản, cùng thực hiện
                                    nhé Chuẩn bị: – Hoa cúc… Cùng xem hướng dẫn cắm hoa xen quả thật đẹp mà đơn giản, cùng
                                    thực hiện nhé Chuẩn bị: – Hoa cúc…
                                </p>
                                <a class="btn-sample" href="single_post.html">&rsaquo; Read More</a>

                            </div>
                        </div>
                        <div class="content_left_bar alignright ">
                            <section class="section_box">

                                <h2 class="sub_title"> Blog Post</h2>
                                <br>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="popular">
                                        <ul>
                                            <li class="console" *ngFor="let random of listRandomBlog">
                                                <div class="content_img"><img src="http://sv1.upsieutoc.com/2017/05/11/forever_love.jpg"/></div>
                                                <p><a class="video-link" href="#">{{random.title}}</a></p>
                                            </li>
                                        </ul>
                                    </div>                               
                                </div>
                            </section>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End begin content main-->
<footerComponent></footerComponent>