<headerComponent></headerComponent>
<!--Begin content main-->
<section id="content" class="portfolio">
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span12">
                <div class="wrap">


                    <div class="content_main span12">
                        <div class="services_content first_service row-fluid">

                            <h2 class="sub_title"> Flower Meaning</h2>

                            <ul id="case_content">

                                <!--Item with no lightbox, only link to the item page-->
                                <li style="cursor: pointer" class="case" *ngFor="let meaning of listFlower" [routerLink]="['view', meaning.id]">
                                    <!-- Button to trigger modal -->
                                    <a class="portfolio_box" role="button">
                                            <img src="http://sv1.upsieutoc.com/2017/05/11/forever_love.jpg" alt="portfolio single item image">
                                            <div class="portfolio_box_text">
                                                <h6>{{meaning.flower}}</h6>
                                            </div>
                                        </a>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <!------------end content------------->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End begin content main-->
<footerComponent></footerComponent>