<headerComponent></headerComponent>
<!--Begin content main-->
<section id="content" class="blog single_post">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="wrap">

                    <div class="content_main row-fluid span12">

                        <div class="content_center alignleft ">

                            <div class="content_post first">
                                <h2 class="sub_title">Roses </h2>
                                <div class="clearfix"></div>
                                <div id="myCarousel" class="carousel slide">
                                    <!-- Carousel items -->
                                    <div class="active item"><img src="../../app/assets/img/flmeaning/1.jpg" alt="//"></div>
                                    <!-- Carousel nav -->
                                </div>
                                <p class="text_post">
                                    On Valentine's Day or every other occasion of love, roses are an indispensable gift. Because it is the flower that symbolizes
                                    the most popular love in the world, is the sweet, passionate flower that love has woven
                                    into each petal, stamens and also the subtle aroma subtle. ...<br>      

                                    <strong style="color:red;">Red roses</strong> symbolize a passionate love and romance. Red roses have been around for centuries,
                                    and have spread through many cultures - both in the West and in the East. But everywhere,
                                    it is always the most loved flower, and symbolizes the sentiment. The same sacred: love. <br>

                                    <strong>White roses</strong> symbolize innocence, grace and sympathy. White roses not only symbolize
                                    a pure, noble love on the other hand, it is also the flower that apologizes to your lover
                                    if you make a mistake. <br>

                                    <strong style="color:goldenrod;">Golden Roses:</strong> perhaps this is the flower that gives the recipient
                                    a pretty headache because of its rather diverse meaning: Golden Roses not only symbolize
                                    a glorious love, but it is also the flower of love. You show interest and progress in
                                    relationships, such as "I care about you" or "Remember you". Offering a bouquet of gold
                                    roses can be a great start to the day, and a happy return. Sometimes, yellow roses are
                                    a manifestation of jealousy, falling love, and betrayal. Besides, the yellow rose is
                                    also the ideal flower for mother and grandmother, because it also has the meaning of
                                    gratitude and respect. <br>
                                    
                                    <strong style="color:palevioletred;">Pink roses:</strong> The light pink roses of roses imply the beginning
                                    of a dreamlike, romantic and tender love. Besides, it also shows a full happiness with
                                    the message: "Believe me!" <br>
                                    
                                    <strong style="color:orange;">Orange roses:</strong> Express enthusiasm and burning passion. The brilliant orange color expresses
                                    a passionate love but is mixed with jealousy. Or another meaning, it is the bridge between
                                    friendship and love (by the mix of gold and red) and implies that "I am proud of you."<br>
                                    
                                    <strong style="color:purple;">Purple roses:</strong> In addition to the inherent elegance, purple roses show passion, loyalty,
                                    and intense love at first sight. Green roses symbolize an eternal love. <br>
                                </p>
                            </div>

                        </div>
                        <div class="content_left_bar alignright ">
                            <section class="section_box">

                                <h2 class="sub_title"> Flower Other</h2><br>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="popular">
                                        <ul>
                                            <li class="console first">
                                                <div class="content_img"><img src="../../app/assets/img/flmeaning/meaning1.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console">
                                                <div class="content_img"><img src="../../app/assets/img/flmeaning/meaning2.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console">
                                                <div class="content_img"><img src="../../app/assets/img/flmeaning/meaning2.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console last">
                                                <div class="content_img"><img src="../../app/assets/img/flmeaning/meaning2.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="recent">
                                        <ul>
                                            <li class="console first">
                                                <div class="content_img"><img src="../../app/assets/img/flmeaning/meaning2.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console">
                                                <div class="content_img"><img src="../../app/assets/img/blog/thumbnail-2.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console">
                                                <div class="content_img"><img src="../../app/assets/img/blog/thumbnail-3.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                            </li>
                                            <li class="console last">
                                                <div class="content_img"><img src="../../app/assets/img/blog/thumbnail-4.jpg" alt="//" /></div>
                                                <p><a class="video-link" href="#">Video used as media for blog article</a></p>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </section>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End begin content main-->
<footerComponent></footerComponent>