<headerComponent></headerComponent>
<!--Begin content main-->
<section id="content" class="blog single_post">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="wrap">

                    <div class="content_main row-fluid span12">

                        <div class="content_center alignleft " *ngFor="let meaning of listInfoMeaning">

                            <div class="content_post first">
                                <h2 class="sub_title">Meaning </h2>
                                <div class="clearfix"></div>
                                <div id="myCarousel" class="carousel slide">
                                    <h1 style="color:black">{{meaning.flower}}</h1>
                                    <!-- Carousel items -->
                                    <div class="active item"><img src="../../app/assets/img/flmeaning/1.jpg" alt="//"></div>
                                    <!-- Carousel nav -->

                                </div>
                                <div class="text_post" [innerHTML]="meaning.content">

                                </div>
                            </div>

                        </div>
                        <div class="content_left_bar alignright ">
                            <section class="section_box ">

                                <h2 class="sub_title "> Flower Other</h2><br>

                                <div class="tab-content ">
                                    <div class="tab-pane active " id="popular ">
                                        <ul>
                                            <li style="cursor: pointer" class="console first " *ngFor="let random of listRandomMeaning">
                                                <div class="content_img "><img src="http://sv1.upsieutoc.com/2017/05/11/forever_love.jpg" /></div>
                                                <p><a class="video-link ">{{random.flower}}</a></p>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </section>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End begin content main-->
<footerComponent></footerComponent>