<headerComponent></headerComponent>
<!--Begin content main-->
<section id="content" class="portfolio">
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span12">
                <div class="wrap">


                    <div class="content_main span12">
                        <div class="services_content first_service row-fluid">

                            <h2 class="sub_title"> Our Product</h2>
                            <br>

                            <!-------------filter portfolio---------------->
                            <ul id="menu_content" class="nav nav-pills">
                                <li style="cursor:pointer" class="active"><a class="all" (click)="getProductCategory(0)">All</a></li>
                                <li style="cursor:pointer" *ngFor="let cate of listCate" id="{{cate.id}}"><a class="all"  (click)="getProductCategory(cate.id)">{{cate.categoryName}}</a></li>
                            </ul>
                            <!-------------end filter portfolio---------------->
                            <div class="search-results" infinite-scroll debounce [infiniteScrollDistance]="0" [infiniteScrollThrottle]="400" 
                            (scrolled)="onScrollDown()">
                                <ul id="case_content">
                                    <!--Item with no lightbox, only link to the item page-->
                                    <li class="case" *ngFor="let product of array">
                                        <!-- Button to trigger modal -->
                                        <a class="portfolio_box" [routerLink]="['view', product.id]" role="button" data-toggle="modal">
                                            <img src="{{product.productPictureUrl}}" alt="portfolio single item image">
                                            <div class="portfolio_box_text">
                                                <h6>{{product.productName}}</h6>
                                                <p> Price: contact</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End begin content main-->
<footerComponent></footerComponent>