<headerComponent></headerComponent>
<!--Begin content main-->
<section id="content" class="portfolio">
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span12">
                <div class="wrap">

                 
                    <div class="content_slider span5">

                        <div id="myCarousel" class="carousel slide">

                         
                            <div class="carousel-inner">
                                <div class="active item"><img src="../../app/assets/img/pmm/slider1.jpg" alt="slider image"></div>
                                <div class="item"><img src="../../app/assets/img/pmm/slider2.jpg" alt="slider image"></div>
                                <div class="item"><img src="../../app/assets/img/pmm/slider3.jpg" alt="slider image"></div>
                                <div class="item"><img src="../../app/assets/img/pmm/slider4.jpg" alt="slider image"></div>
                            </div>

                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                            <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                        </div>

                    </div>
                    

                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="wrap">

                   
                    <div class="content_main span12">
                        <div class="services_content first_service row-fluid">

                            <h2 class="sub_title" style="text-transform: uppercase;"> Our product</h2>
                            <br>

                            <!-------------filter portfolio---------------->
                            <ul id="menu_content" class="nav nav-pills">
                                <li class="active"><a class="all" href="#">show all</a></li>
                                <li><a class="marketing" href="#">marketing</a></li>
                                <li><a class="photography" href="#">photography </a></li>
                                <li><a class="illustration" href="#">illustration</a></li>
                                <li><a class="branding" href="#">branding</a></li>
                            </ul>
                            <!-------------end filter portfolio---------------->

                            <ul id="case_content">

                                <!--Item with no lightbox, only link to the item page-->
                                <li class="case" data-type="photography" data-id="id-1">
                                    <!-- Button to trigger modal -->
                                    <a class="portfolio_box " href="single_item.html" role="button">
                                            <img src="../../app/assets/img/pmm/1.jpg" alt="portfolio single item image">
                                            <div class="portfolio_box_text">
                                                <h6>Product 1</h6>
                                                <p>Price: contact</p>
                                            </div>
                                        </a>
                                </li>



                                <li class="case" data-type="marketing" data-id="id-2">
                                    <!-- portfolio item to trigger modal -->
                                    <a class="portfolio_box " href="#myModal2" role="button" data-toggle="modal">
                                            <img src="../../app/assets/img/pmm/2.jpg" alt="portfolio single item image">
                                            <div class="portfolio_box_text">
                                                <h6>Drowning Brand</h6>
                                                <p> Branding / Graphic Design</p>
                                            </div>
                                        </a>
                                    <!-- Lightbox modal -->
                                    <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel-circle"></i></button>
                                            <div class="content_modal">
                                                <img src="../../app/assets/img/lightbox/1.jpg" alt="image">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <p>Donec ullamcorper nulla quis Praesent a tellus vitae nisl vehicula sembendum
                                                molestie.</p>
                                        </div>
                                    </div>
                                    <!-- End Lightbox modal -->
                                </li>
                                <p>test</p>




                                <li class="case" data-type="marketing branding" data-id="id-3">
                                    <!-- Button to trigger modal -->
                                    <a class="portfolio_box " href="#myModal13" role="button" data-toggle="modal">
                                            <img src="../../app/assets/img/pmm/3.jpg" alt="portfolio single item image">
                                            <div class="portfolio_box_text">
                                                <h6>Drowning Brand</h6>
                                                <p> Branding / Graphic Design</p>
                                            </div>
                                        </a>
                                    <!-- Lightbox modal -->
                                    <div id="myModal13" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel-circle"></i></button>
                                            <div class="content_modal">
                                                <img src="../../app/assets/img/lightbox/2.jpg" alt="image">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <p>Example se ullamcorper nulla quis Praesent a tellus vitae nisl vehicula sembendum
                                                molestie.</p>
                                        </div>
                                    </div>
                                    <!-- End Lightbox modal -->
                                </li>




                                <li class="case" data-type="photography" data-id="id-4">
                                    <!-- Button to trigger modal -->
                                    <a class="portfolio_box " href="#myModal12" role="button" data-toggle="modal">
                                            <img src="../../app/assets/img/pmm/4.jpg" alt="portfolio single item image">
                                            <div class="portfolio_box_text">
                                                <h6>Drowning Brand</h6>
                                                <p> Branding / Graphic Design</p>
                                            </div>
                                        </a>
                                    <!-- Lightbox modal -->
                                    <div id="myModal12" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel-circle"></i></button>
                                            <div class="content_modal">
                                                <img src="../../app/assets/img/lightbox/2.jpg" alt="image">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <p>Example se ullamcorper nulla quis Praesent a tellus vitae nisl vehicula sembendum
                                                molestie.</p>
                                        </div>
                                    </div>
                                    <!-- End Lightbox modal -->
                                </li>





                                <li class="case" data-type="marketing branding" data-id="id-5">
                                    <!-- Button to trigger modal -->
                                    <a class="portfolio_box " href="#myModal11" role="button" data-toggle="modal">
                                            <img src="../../app/assets/img/pmm/5.jpg" alt="portfolio single item image">
                                            <div class="portfolio_box_text">
                                                <h6>Drowning Brand</h6>
                                                <p> Branding / Graphic Design</p>
                                            </div>
                                        </a>
                                    <!-- Lightbox modal -->
                                    <div id="myModal11" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel-circle"></i></button>
                                            <div class="content_modal">
                                                <img src="../../app/assets/img/lightbox/2.jpg" alt="image">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <p>Example se ullamcorper nulla quis Praesent a tellus vitae nisl vehicula sembendum
                                                molestie.</p>
                                        </div>
                                    </div>
                                    <!-- End Lightbox modal -->
                                </li>





                                <li class="case" data-type="photography illustration branding" data-id="id-6">
                                    <!-- Button to trigger modal -->
                                    <a class="portfolio_box " href="#myModal10" role="button" data-toggle="modal">
                                            <img src="../../app/assets/img/portfolio/6.jpg" alt="portfolio single item image">
                                            <div class="portfolio_box_text">
                                                <h6>Drowning Brand</h6>
                                                <p> Branding / Graphic Design</p>
                                            </div>
                                        </a>
                                    <!-- Lightbox modal -->
                                    <div id="myModal10" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel-circle"></i></button>
                                            <div class="content_modal">
                                                <img src="../../app/assets/img/lightbox/1.jpg" alt="image">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <p>Example se ullamcorper nulla quis Praesent a tellus vitae nisl vehicula sembendum
                                                molestie.</p>
                                        </div>
                                    </div>
                                    <!-- End Lightbox modal -->
                                </li>






                                <li class="case" data-type="marketing illustration branding" data-id="id-7">
                                    <!-- Button to trigger modal -->
                                    <a class="portfolio_box " href="#myModal3" role="button" data-toggle="modal">
                                            <img src="../../app/assets/img/portfolio/7.jpg" alt="portfolio single item image">
                                            <div class="portfolio_box_text">
                                                <h6>Drowning Brand</h6>
                                                <p> Branding / Graphic Design</p>
                                            </div>
                                        </a>
                                    <!-- Lightbox modal -->
                                    <div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel-circle"></i></button>
                                            <div class="content_modal">
                                                <img src="../../app/assets/img/lightbox/2.jpg" alt="image">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <p>Example se ullamcorper nulla quis Praesent a tellus vitae nisl vehicula sembendum
                                                molestie.</p>
                                        </div>
                                    </div>
                                    <!-- End Lightbox modal -->
                                </li>





                                <li class="case" data-type="branding illustration" data-id="id-8">
                                    <!-- Button to trigger modal -->
                                    <a class="portfolio_box " href="#myModal4" role="button" data-toggle="modal">
                                            <img src="../../app/assets/img/portfolio/8.jpg" alt="portfolio single item image">
                                            <div class="portfolio_box_text">
                                                <h6>Drowning Brand</h6>
                                                <p> Branding / Graphic Design</p>
                                            </div>
                                        </a>
                                    <!-- Lightbox modal -->
                                    <div id="myModal4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel-circle"></i></button>
                                            <div class="content_modal">
                                                <img src="../../app/assets/img/lightbox/1.jpg" alt="image">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <p>Example se ullamcorper nulla quis Praesent a tellus vitae nisl vehicula sembendum
                                                molestie.</p>
                                        </div>
                                    </div>
                                    <!-- End Lightbox modal -->
                                </li>





                                <li class="case" data-type="branding illustration" data-id="id-9">
                                    <!-- Button to trigger modal -->
                                    <a class="portfolio_box " href="#myModal5" role="button" data-toggle="modal">
                                            <img src="../../app/assets/img/portfolio/1.jpg" alt="portfolio single item image">
                                            <div class="portfolio_box_text">
                                                <h6>Drowning Brand</h6>
                                                <p> Branding / Graphic Design</p>
                                            </div>
                                        </a>
                                    <!-- Lightbox modal -->
                                    <div id="myModal5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel-circle"></i></button>
                                            <div class="content_modal">
                                                <img src="../../app/assets/img/lightbox/2.jpg" alt="image">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <p>Example se ullamcorper nulla quis Praesent a tellus vitae nisl vehicula sembendum
                                                molestie.</p>
                                        </div>
                                    </div>
                                    <!-- End Lightbox modal -->
                                </li>





                                <li class="case" data-type="marketing illustration" data-id="id-10">
                                    <!-- Button to trigger modal -->
                                    <a class="portfolio_box " href="#myModal6" role="button" data-toggle="modal">
                                            <img src="../../app/assets/img/portfolio/1.jpg" alt="portfolio single item image">
                                            <div class="portfolio_box_text">
                                                <h6>Drowning Brand</h6>
                                                <p> Branding / Graphic Design</p>
                                            </div>
                                        </a>
                                    <!-- Lightbox modal -->
                                    <div id="myModal6" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel-circle"></i></button>
                                            <div class="content_modal">
                                                <img src="../../app/assets/img/lightbox/2.jpg" alt="image">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <p>Example se ullamcorper nulla quis Praesent a tellus vitae nisl vehicula sembendum
                                                molestie.</p>
                                        </div>
                                    </div>
                                    <!-- End Lightbox modal -->
                                </li>





                                <li class="case" data-type="illustration" data-id="id-11">
                                    <!-- Button to trigger modal -->
                                    <a class="portfolio_box " href="#myModal7" role="button" data-toggle="modal">
                                            <img src="../../app/assets/img/portfolio/3.jpg" alt="portfolio single item image">
                                            <div class="portfolio_box_text">
                                                <h6>Drowning Brand</h6>
                                                <p> Branding / Graphic Design</p>
                                            </div>
                                        </a>
                                    <!-- Lightbox modal -->
                                    <div id="myModal7" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel-circle"></i></button>
                                            <div class="content_modal">
                                                <img src="../../app/assets/img/lightbox/2.jpg" alt="image">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <p>Example se ullamcorper nulla quis Praesent a tellus vitae nisl vehicula sembendum
                                                molestie.</p>
                                        </div>
                                    </div>
                                    <!-- End Lightbox modal -->
                                </li>






                                <li class="case" data-type="marketing" data-id="id-12">
                                    <!-- Button to trigger modal -->
                                    <a class="portfolio_box " href="#myModal8" role="button" data-toggle="modal">
                                            <img src="../../app/assets/img/portfolio/4.jpg" alt="portfolio single item image">
                                            <div class="portfolio_box_text">
                                                <h6>Drowning Brand</h6>
                                                <p> Branding / Graphic Design</p>
                                            </div>
                                        </a>
                                    <!-- Lightbox modal -->
                                    <div id="myModal8" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel-circle"></i></button>
                                            <div class="content_modal">
                                                <img src="../../app/assets/img/lightbox/2.jpg" alt="image">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <p>Example se ullamcorper nulla quis Praesent a tellus vitae nisl vehicula sembendum
                                                molestie.</p>
                                        </div>
                                    </div>
                                    <!-- End Lightbox modal -->
                                </li>




                                <li class="case" data-type="photography" data-id="id-13">
                                    <!-- Button to trigger modal -->
                                    <a class="portfolio_box " href="#myModal6" role="button" data-toggle="modal">
                                            <img src="../../app/assets/img/portfolio/2.jpg" alt="portfolio single item image">
                                            <div class="portfolio_box_text">
                                                <h6>Drowning Brand</h6>
                                                <p> Branding / Graphic Design</p>
                                            </div>
                                        </a>
                                    <!-- Lightbox modal -->
                                    <div id="myModal6" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel-circle"></i></button>
                                            <div class="content_modal">
                                                <img src="../../app/assets/img/lightbox/2.jpg" alt="image">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <p>Example se ullamcorper nulla quis Praesent a tellus vitae nisl vehicula sembendum
                                                molestie.</p>
                                        </div>
                                    </div>
                                    <!-- End Lightbox modal -->
                                </li>




                                <li class="case" data-type="photography" data-id="id-14">
                                    <!-- Button to trigger modal -->
                                    <a class="portfolio_box " href="#myModal6" role="button" data-toggle="modal">
                                            <img src="../../app/assets/img/portfolio/5.jpg" alt="portfolio single item image">
                                            <div class="portfolio_box_text">
                                                <h6>Drowning Brand</h6>
                                                <p> Branding / Graphic Design</p>
                                            </div>
                                        </a>
                                    <!-- Lightbox modal -->
                                    <div id="myModal6" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel-circle"></i></button>
                                            <div class="content_modal">
                                                <img src="../../app/assets/img/lightbox/2.jpg" alt="image">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <p>Example se ullamcorper nulla quis Praesent a tellus vitae nisl vehicula sembendum
                                                molestie.</p>
                                        </div>
                                    </div>
                                    <!-- End Lightbox modal -->
                                </li>


                            </ul>

                        </div>
                    </div>

                    <!------------end content------------->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End begin content main-->
<footerComponent></footerComponent>