<header>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="content_menu wrap">
                    <div class="box span2 offset0 color_one resume"  [routerLink]="['']" style="cursor:pointer">
                        <a>
                            <img src="../../app/assets/img/pmm/home.png">
                        </a>
                        <h1>BOM SHOP</h1>

                    </div>
                    <!-------------content menu---------------------------->
                    <nav class="navbar span3">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li class="menu_item"><a [routerLink]="['/introduce']">Introduce</a></li>
                                <li class="menu_item"><a [routerLink]="['/partner']">Partner</a></li>
                                <li class="menu_item"><a [routerLink]="['/product']">Product</a></li>
                                <li class="menu_item"><a [routerLink]="['/flmeaning']">Flower Meaning</a></li>
                                <li class="menu_item"><a [routerLink]="['/blog']">Blog</a></li>
                                <li class="menu_item"><a [routerLink]="['/contact']">Contact</a></li>
                            </ul>
                        </div>

                    </nav>
                    <!-------------end content menu------------------------>
                </div>

            </div>
        </div>
    </div>
</header>
<!--End begin header-->