<headerComponent></headerComponent>
<!--Begin content main-->
<section id="content" class="education">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="wrap">


                    <div class="content_main row-fluid span12">

                        <div class="alignleft span2">
                            <h2 class="sub_title"> My Skills <span class="little_title">- Recent things that I learn</span></h2>

                            <div class="progress-container">
                                <strong class="text-left">
                                            promotional materials - 40%
                                        </strong>
                                <div class="progress progress-material">
                                    <div class="bar" style="width: 40%">
                                        <p class="text-right">
                                            40%
                                        </p>
                                    </div>
                                </div>
                                <strong class="text-left">
                                            package design - 40%
                                        </strong>
                                <div class="progress progress-design">
                                    <div class="bar" style="width: 90%">
                                        <p class="text-right">
                                            90%
                                        </p>
                                    </div>
                                </div>
                                <strong class="text-left">
                                            branding - 40%
                                        </strong>
                                <div class="progress progress-branding">
                                    <div class="bar" style="width: 96%">
                                        <p class="text-right">
                                            96%
                                        </p>
                                    </div>
                                </div>
                                <strong class="text-left">
                                            web design - 40%
                                        </strong>
                                <div class="progress progress-web">
                                    <div class="bar" style="width: 80%">
                                        <p class="text-right">
                                            80%
                                        </p>
                                    </div>
                                </div>
                                <strong class="text-left">
                                            web design - 40%
                                        </strong>
                                <div class="progress progress-web2">
                                    <div class="bar" style="width: 80%">
                                        <p class="text-right">
                                            80%
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="content_tab_education alignright span3">
                            <h2 class="sub_title"> My studying history <span class="little_title">- Things I like to do and softwares that I use</span><br></h2>

                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">Education Tab One</a></li>
                                <li><a href="#profile" data-toggle="tab">Education Tab Two</a></li>
                                <li><a href="#messages" data-toggle="tab">Education Tab One</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="home">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut diam urna, non aliquam dui. Integer et augue non
                                        lectus eleifend fermentum. Phasellus egestas tempus urna, non facilisis dolor cursus
                                        in. Cras fermentum justo nec enim lobortis nec laoreet tortor scelerisque. Phasellus
                                        egestas tempus urna, non facilisis dolor cursus in. Cras fermentum justo nec enim
                                        lobortis nec laoreet tortor scelerisque. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Suspendisse ut diam urna, non aliquam dui. Integer et augue non
                                        lectus eleifend fermentum. Phasellus egestas tempus urna, non facilisis d ras fermentum
                                        justo nec enim lobortis nec laoreet tortor scelerisque. Phasellus egestas tempus
                                        urna, non facilisis dolor cursus in. Cras fermentum justo nec enim lobortis nec laoreet
                                        tortor scelerisque.
                                    </p>
                                </div>
                                <div class="tab-pane" id="profile">
                                    <p>
                                        Suspendisse ut diam urna, non aliquam dui. Integer et augue non lectus eleifend fermentum. Phasellus egestas tempus urna,
                                        non facilisis d ras fermentum justo nec enim lobortis nec laoreet tortor scelerisque.
                                        Phasellus egestas tempus urna, non facilisis dolor cursus in. Cras fermentum justo
                                        nec enim lobortis nec laoreet tortor scelerisque.
                                    </p>
                                </div>
                                <div class="tab-pane" id="messages">
                                    <p>

                                        Cras fermentum justo nec enim lobortis nec laoreet tortor scelerisque. Phasellus egestas tempus urna, non facilisis dolor
                                        cursus in. Cras fermentum justo nec enim lobortis nec laoreet tortor scelerisque.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut diam urna,
                                        non aliquam dui. Integer et augue non lectus eleifend fermentum. Phasellus egestas
                                        tempus urna, non facilisis d ras fermentum justo nec enim lobortis nec laoreet tortor
                                        scelerisque. Phasellus egestas tempus urna, non facilisis dolor cursus in. Cras fermentum
                                        justo nec enim lobortis nec laoreet tortor scelerisque.
                                    </p>
                                </div>

                            </div>


                        </div>

                    </div>
                    <div class="main_bottom row-fluid span12">
                        <div class="alignleft span3 education_accordion">

                            <h2 class="sub_title"> My studying history <span class="little_title">- Things I like to do and softwares that I use</span><br></h2>

                            <div class="accordion" id="accordion2">
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle open" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                                First Class BA (Hons) Graphic Design
                                                <i class="icon-minus alignright"></i>
                                            </a>
                                    </div>
                                    <div id="collapseOne" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                            <ul>
                                                <li>
                                                    <p><span class="icon-location"></span>University: Oxford Univeristy</p>
                                                </li>
                                                <li>
                                                    <p><span class="icon-clock"></span>Period: April 2006- May 2007</p>
                                                </li>
                                                <li>
                                                    <p><span class="icon-graduation-cap"></span>Qualification: A Level</p>
                                                </li>
                                                <li>
                                                    <p><span class="icon-thumbs-up-1"></span>References: Mike Doe</p>
                                                </li>
                                                <li>
                                                    <p><span class="icon-edit"></span>Description:</p>
                                                </li>
                                            </ul>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut diam
                                                urna, non aliquam dui. Integer et augue non lectus eleifend fermentum. Phasellus
                                                egestas tempus urna, non facilisis dolor cursus in. Cras fermentum justo
                                                nec enim lobortis nec laoreet tortor scelerisque. Phasellus egestas tempus
                                                urna, non facilisis dolor cursus in. Cras fermentum justo nec enim lobortis
                                                nec laoreet tortor scelerisque.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                                David Davidson Old Grammar School (GCSE)
                                                <i class="icon-plus  alignright"></i>
                                            </a>
                                    </div>
                                    <div id="collapseTwo" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            <ul>
                                                <li>
                                                    <p><span class="icon-location"></span>University: Oxford Univeristy</p>
                                                </li>
                                                <li>
                                                    <p><span class="icon-clock"></span>Period: April 2006- May 2007</p>
                                                </li>
                                                <li>
                                                    <p><span class="icon-graduation-cap"></span>Qualification: A Level</p>
                                                </li>
                                                <li>
                                                    <p><span class="icon-thumbs-up-1"></span>References: Mike Doe</p>
                                                </li>
                                                <li>
                                                    <p><span class="icon-edit"></span>Description:</p>
                                                </li>
                                            </ul>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut diam
                                                urna, non aliquam dui. Integer et augue non lectus eleifend fermentum. Phasellus
                                                egestas tempus urna, non facilisis dolor cursus in. Cras fermentum justo
                                                nec enim lobortis nec laoreet tortor scelerisque. Phasellus egestas tempus
                                                urna, non facilisis dolor cursus in. Cras fermentum justo nec enim lobortis
                                                nec laoreet tortor scelerisque.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                                David Davidson Old Grammar School (GCSE)
                                                <i class="icon-plus  alignright"></i>
                                            </a>
                                    </div>
                                    <div id="collapseThree" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            <ul>
                                                <li>
                                                    <p><span class="icon-location"></span>University: Oxford Univeristy</p>
                                                </li>
                                                <li>
                                                    <p><span class="icon-clock"></span>Period: April 2006- May 2007</p>
                                                </li>
                                                <li>
                                                    <p><span class="icon-graduation-cap"></span>Qualification: A Level</p>
                                                </li>
                                                <li>
                                                    <p><span class="icon-thumbs-up-1"></span>References: Mike Doe</p>
                                                </li>
                                                <li>
                                                    <p><span class="icon-edit"></span>Description:</p>
                                                </li>
                                            </ul>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut diam
                                                urna, non aliquam dui. Integer et augue non lectus eleifend fermentum. Phasellus
                                                egestas tempus urna, non facilisis dolor cursus in. Cras fermentum justo
                                                nec enim lobortis nec laoreet tortor scelerisque. Phasellus egestas tempus
                                                urna, non facilisis dolor cursus in. Cras fermentum justo nec enim lobortis
                                                nec laoreet tortor scelerisque.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="alignright span2 education_slider">

                            <h2 class="sub_title"> Services <span class="little_title">- Design Services</span><br></h2>

                            <div class="content_slider">
                                <div id="myCarousel" class="carousel slide">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item">
                                            <div class="slider_body">
                                                <a class="sub_title_edu" href="#"><i class="icon-cogs icon_red"></i><span>Fully Responsive</span></a>
                                                <p>
                                                    Donec ullamcorper nulla quis Praesent a tellus vitae nisl vehicula semper. Quisque bibendum molestie molestie.
                                                </p>
                                            </div>
                                            <div class="slider_body">
                                                <a class="sub_title_edu" href="#"><i class="icon-leaf icon_blue"></i><span>Design Customization</span></a>
                                                <p>
                                                    Donec ullamcorper nulla quis Praesent a tellus vitae nisl vehicula semper. Quisque bibendum molestie molestie.
                                                </p>
                                            </div>

                                        </div>
                                        <div class="item">
                                            <div class="slider_body">
                                                <a class="sub_title_edu" href="#"><i class="icon-cogs icon_red"></i><span>Fully Responsive</span></a>
                                                <p>
                                                    Donec ullamcorper nulla quis Praesent a tellus vitae nisl vehicula semper. Quisque bibendum molestie molestie.
                                                </p>
                                            </div>
                                            <div class="slider_body">
                                                <a class="sub_title_edu" href="#"><i class="icon-leaf icon_blue"></i><span>Design Customization</span></a>
                                                <p>
                                                    Donec ullamcorper nulla quis Praesent a tellus vitae nisl vehicula semper. Quisque bibendum molestie molestie.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="slider_body">
                                                <a class="sub_title_edu" href="#"><i class="icon-cogs icon_red"></i><span>Fully Responsive</span></a>
                                                <p>
                                                    Donec ullamcorper nulla quis Praesent a tellus vitae nisl vehicula semper. Quisque bibendum molestie molestie.
                                                </p>
                                            </div>
                                            <div class="slider_body">
                                                <a class="sub_title_edu" href="#"><i class="icon-leaf icon_blue"></i><span>Design Customization</span></a>
                                                <p>
                                                    Donec ullamcorper nulla quis Praesent a tellus vitae nisl vehicula semper. Quisque bibendum molestie molestie.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Carousel nav -->
                                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                                    <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!--End begin content main-->
<footerComponent></footerComponent>