<headerComponent></headerComponent>
<!--Begin content main-->
<section id="content" class="profile">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="wrap">

                    <div class="content_main span12">
                        <img class="img_profile alignleft" src="../../app//assets/img/pmm/rose.jpg" alt="//">
                        <h2 class="sub_title"> Some information</h2>

                        <p align="justify"><br> <strong style="color:red">BOM SHOP</strong> is a professional floral and gift delivery company
                            with more than 64 franchise retail locations all over Vietnam. Our mission is to provide the
                            most convenient ways to help people express their feeling: love, congratulation, appreciation,
                            adoration, condolences, gratitude, etc. With the slogan "Flower Delivery Expert", our bouquet
                            is not only a gift, but also a message of love and sharing...<br></p>
                            <p><br><strong style="color:red; text-transform: uppercase;">Our orientations focus on these activities:</strong><br><p>
                            <p><strong style="color:darkorange">&hearts;</strong>&nbsp;&nbsp;Connecting and supporting the flower shops in the country to provide fresh flowers promptly.<br></p>
                            <p><strong style="color:darkorange">&hearts;</strong>&nbsp;&nbsp;Building a professional floral delivery networt in all regions of Viet Nam.<br></p>
                            <p><strong style="color:darkorange">&hearts;</strong>&nbsp;&nbsp;Improving quality of delivery process Providing successful models in flowers business to all franchise retail locations.<br></p>
                            <p><strong style="color:darkorange">&hearts;</strong>&nbsp;&nbsp;Focusing on providing domestic flowers and materials.<br></p>
                            <p><strong style="color:darkorange">&hearts;</strong>&nbsp;&nbsp;Developing the ancillary services to support flowers and gifts delivery services.<br></p>
                            <p><strong style="color:darkorange">&hearts;</strong>&nbsp;&nbsp;Researching and applying Information Technology in the development of fresh flowers business.<br></p><br>

                        <div class="banner_text">
                            "Love" is taken from one of the most important values of Christianity. It expresses love for not only couples but also for
                            humanity. Therefore, with each flower sold, we will donate a small amount for "Help children
                            get to school" Fund.!
                        </div>

                        <div class="services_content row-fluid">
                            <h2 class="sub_title">About us through video<br></h2>
                            <div class="youtube">
                                <br>
                                <iframe class="player" id="ytplayer" type="text/html" src="https://www.youtube.com/embed/mKJaf2YdEO4?autoplay=0&origin=http://example.com"
                                    frameborder="0"></iframe>
                            </div>
                        </div>
                       
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!--End begin content main-->
<footerComponent></footerComponent>